ul{
  list-style-type: none;
  display: inline-block;
}
li{
  display: inline-block;
  margin: 10px auto;
 justify-content: center;
}
label{
  margin-right: 10px;
}
.container__checkboxes__submit{
color: white;
max-width: 200px;
background-color: #7f674d;
border: 0 none;
border-radius: 4px;
display: flex;
justify-content: center;
margin: 0 auto;
padding: 0 22px;
font-size: 15px;
font-weight: normal;
height: 32px;
line-height: 32px;
}
.image{
  height: 110px;
  width: 175px;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  cursor: pointer;
}
li.btn{
  max-width: 200px;
  padding: 5px;
}
.btn:hover{
  border: 1px solid black;
}
.active {
  background-color: #f1f1f1;
}
h3{
  margin: 5px;
  font-size: 15px;
}
li h3{
    text-align: center;
}
h5{
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 5px 0;
  font-size: 12px;
}
a{
  text-decoration: none;
  color: black;
}

.cups {
text-align: center;
margin-left: 15%;
}
span{
  display: inline-block;
}
@media screen and (max-width: 770px){

li.btn{
  display: inline-flex;
  max-width: 50%;
}
button.container__checkboxes__submit{
  display: flex;
 justify-content: center;
 margin: 0 auto;
}
}
.cups-active{
  background: transparent url(https://www.kaffekapslen.dk/skin/frontend/kaffekapslen/default/images/product_attributes/cups-sprite.png) 48px 0;
height: 20px;
width: 22px;
display: block;
float: left;
margin: 5px 2px;
}
.cups-1{
  background: transparent url(https://www.kaffekapslen.dk/skin/frontend/kaffekapslen/default/images/product_attributes/cups-sprite.png) 0 0;
height: 20px;
width: 22px;
display: block;
float: left;
margin: 5px 0;
margin-right: 2px;
}
.cups-2{
  background: transparent url(https://www.kaffekapslen.dk/skin/frontend/kaffekapslen/default/images/product_attributes/cups-sprite.png) 99px 0;
  height: 20px;
  width: 22px;
  display: block;
  float: left;
  margin: 5px 2px;
}
.cups-3{
  background: transparent url(https://www.kaffekapslen.dk/skin/frontend/kaffekapslen/default/images/product_attributes/cups-sprite.png) 74px 0;
  height: 20px;
  width: 22px;
  display: block;
  float: left;
  margin: 5px 2px;
}
.cups-4{
  background: transparent url(https://www.kaffekapslen.dk/skin/frontend/kaffekapslen/default/images/product_attributes/cups-sprite.png) 48px 0;
  height: 20px;
  width: 22px;
  display: block;
  float: left;
  margin: 5px 2px;
}
.cups-5{
  background: transparent url(https://www.kaffekapslen.dk/skin/frontend/kaffekapslen/default/images/product_attributes/cups-sprite.png) 23px 0;
  height: 20px;
  width: 22px;
  display: block;
  float: left;
  margin: 5px 2px;
}
.cups-1-active{
  background: transparent url(https://www.kaffekapslen.dk/skin/frontend/kaffekapslen/default/images/product_attributes/cups-sprite.png) 0 20px;
  height: 20px;
  width: 22px;
  display: block;
  float: left;
  margin: 5px 0;
  margin-right: 2px;
}
.cups-2-active{
  background: transparent url(https://www.kaffekapslen.dk/skin/frontend/kaffekapslen/default/images/product_attributes/cups-sprite.png) 99px 20px;
  height: 20px;
  width: 22px;
  display: block;
  float: left;
  margin: 5px 2px;
}
.cups-3-active{
  background: transparent url(https://www.kaffekapslen.dk/skin/frontend/kaffekapslen/default/images/product_attributes/cups-sprite.png) 74px 20px;
height: 20px;
width: 22px;
display: block;
float: left;
margin: 5px 2px;
}
