body{

}
header,img{
 max-width: 100vw;
 overflow-x: hidden;
}
.container select{
display: inline-block;
margin: 0 5px 10px 0;
width: 120px;
position: relative;
padding: 6px 11px;
background: #f2edea;
border: 1px solid #f2edea;
}

.container__checkboxes{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 600px;
}

.container__checkboxes__submit{
color: white;
max-width: 200px;
background-color: #7f674d;
border: 0 none;
border-radius: 4px;
margin: 15px 150px 10px 0;
padding: 0 22px;
font-size: 15px;
font-weight: normal;
height: 32px;
line-height: 32px;
float: right;
}
.image{
  height: 175px;
  width: 175px;
}
table{
  max-width: 950px;
}

.specialprice{
text-align:center;

}
article{
  display: inline-block;
  max-height: 305px;
  max-width: 175px;
  padding: 0 15px 15px 0;
}
h5{
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 5px 0;
}
a{
  text-decoration: none;
  color: black;
}
p.price{
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
}
#results{
  text-align: left;
  font-weight: bold;
}
button.readmore{
  width: 97px;
  margin-left: 5px;
  height: 36px;
  background: #369a35 no-repeat;
  padding: 0 0 0 6px;
  font: bold 12px/27px Arial,Helvetica,sans-serif;
  text-align: center;
  white-space: nowrap;
  border: 0;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}
button.readmore:hover{
  background: #43ad42;
}


select{
  background: url('https://www.kaffekapslen.dk/skin/frontend/kaffekapslen/default/images/icons2.png') no-repeat 87px -35px;
}
