
header,img{
 max-width: 100vw;
 overflow-x: hidden;
}

ul{
  list-style-type: none;
  display: inline-block;
}
li{
  display: inline-block;
  margin: 10px auto;
 justify-content: center;


}
.container__checkboxes__submit{
color: white;
max-width: 200px;
background-color: #7f674d;
border: 0 none;
border-radius: 4px;
display: flex;
justify-content: center;
margin: 0 auto;
padding: 0 22px;
font-size: 15px;
font-weight: normal;
height: 32px;
line-height: 32px;

}
.image{
  height: 110px;
  width: 175px;
}
table{
  max-width: 800px;
    break-after: avoid;
    display: inline;
}
.specialprice{
text-align:center;

}
.mystyle{
  background-color: #333;

}
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}
li.btn{
  max-width: 200px;
  padding: 5px;
}
.btn:hover{
  border: 1px solid black;
}
.active {
  background-color: #c6c6c6;
    color: white;
}
li.btn.active{
  color: white;
}
article{
  display: inline-block;
  max-height: 305px;
  max-width: 175px;
  padding: 0 15px 15px 0;
  break-after: avoid;
}
h3{
  margin: 5px;
  font-size: 15px;

}

li h3{
    text-align: center;
}
h5{
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 5px 0;
  font-size: 12px;
}
a{
  text-decoration: none;
  color: black;
}


#results{
  text-align: left;
  font-weight: bold;
}

.cups-active{
  background: transparent url(https://www.kaffekapslen.dk/skin/frontend/kaffekapslen/default/images/product_attributes/cups-sprite.png) 48px 0;
height: 20px;
width: 22px;
display: block;
float: left;
margin: 5px 2px;
}
.cups-1{
  background: transparent url(https://www.kaffekapslen.dk/skin/frontend/kaffekapslen/default/images/product_attributes/cups-sprite.png) 0 0;
height: 20px;
width: 22px;
display: block;
float: left;
margin: 5px 0;
margin-right: 2px;
}
.cups-2{
  background: transparent url(https://www.kaffekapslen.dk/skin/frontend/kaffekapslen/default/images/product_attributes/cups-sprite.png) 99px 0;
  height: 20px;
  width: 22px;
  display: block;
  float: left;
  margin: 5px 2px;
}
.cups-3{
  background: transparent url(https://www.kaffekapslen.dk/skin/frontend/kaffekapslen/default/images/product_attributes/cups-sprite.png) 74px 0;
  height: 20px;
  width: 22px;
  display: block;
  float: left;
  margin: 5px 2px;
}
.cups-4{
  background: transparent url(https://www.kaffekapslen.dk/skin/frontend/kaffekapslen/default/images/product_attributes/cups-sprite.png) 48px 0;
  height: 20px;
  width: 22px;
  display: block;
  float: left;
  margin: 5px 2px;
}
.cups-5{
  background: transparent url(https://www.kaffekapslen.dk/skin/frontend/kaffekapslen/default/images/product_attributes/cups-sprite.png) 23px 0;
  height: 20px;
  width: 22px;
  display: block;
  float: left;
  margin: 5px 2px;
}
.cups-1-active{
  background: transparent url(https://www.kaffekapslen.dk/skin/frontend/kaffekapslen/default/images/product_attributes/cups-sprite.png) 0 20px;
  height: 20px;
  width: 22px;
  display: block;
  float: left;
  margin: 5px 0;
  margin-right: 2px;
}
.cups-2-active{
  background: transparent url(https://www.kaffekapslen.dk/skin/frontend/kaffekapslen/default/images/product_attributes/cups-sprite.png) 99px 20px;
  height: 20px;
  width: 22px;
  display: block;
  float: left;
  margin: 5px 2px;
}
.cups-3-active{
  background: transparent url(https://www.kaffekapslen.dk/skin/frontend/kaffekapslen/default/images/product_attributes/cups-sprite.png) 74px 20px;
height: 20px;
width: 22px;
display: block;
float: left;
margin: 5px 2px;
}

.cups {
text-align: center;
margin-left: 15%;
}
span{
  display: inline-block;
}

button.readmore{
  width: 97px;
  margin-left: 5px;
  height: 36px;
  background: #369a35;
  padding: 0 0 0 6px;
  font: bold 12px/27px Arial,Helvetica,sans-serif;
  text-align: center;
  white-space: nowrap;
  border: 0;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}
button.readmore:hover{
  background: #43ad42;
}
@media screen and (max-width: 770px){

li.btn{
  display: inline-flex;
  max-width: 50%;
}

button.container__checkboxes__submit{
  display: flex;
 justify-content: center;
 margin: 0 auto;

}
}
